<div class="container">
  <div class="row">
      <div class="header">
          <div class="headerIcon">
              <i class="fa-solid fa-user"></i>
          </div>
          <h4 class="pageHeader">User {{ user?.id }} details</h4>
      </div>
  </div>
  <div class="userCardDiv row">
      <div class="userCard">
          <div class="userDetails">
              <img class="userImg" [src]="user?.avatar" alt="img">
              <div class="userInfo">
                  <div class="userID">
                      <i class="fa-solid fa-id-card"></i>
                      <span>ID: {{ user?.id }}</span>
                  </div>
                  <div class="userName">
                      <i class="fa-solid fa-user"></i>
                      <span>{{ user?.first_name }} {{ user?.last_name }}</span>
                  </div>
                  <div class="userMail">
                      <i class="fa-solid fa-envelope"></i>
                      <a>{{ user?.email }}</a>
                  </div>
              </div>
          </div>
          <div class="backButton" (click)="goBack()">
              <i class="fa-solid fa-angles-left"></i>
              <span>Back to Users List</span>
          </div>
      </div>
  </div>
