/* You can add global styles to this file, and also import other style files */
:root {
  --blue-color: #4F7BFF;
  --white-color: #fff;
  --gray-color: #A6A6A6;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}
body{
  background: rgb(247,248,253);
background: linear-gradient(180deg, rgba(247,248,253,1) 0%, rgba(199,214,237,1) 100%);
background-attachment:fixed;
padding: 100px 0;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.header .headerIcon{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color:var(--blue-color);
  color: var(--white-color) ;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contant{
  display: flex;
  align-items: center;
  justify-content:center;
}
